
        <div class="form-group">
            <label for="bazkidezenbakia2" class="col-sm-2 control-label">2. Bazkide zenbakia edo < 16 urte jaiotze data</label>
            <div class="col-sm-2">
                <textarea name="bazkidezenbakia2" rows="1" cols="12" class="form-control" 
                placeholder="2. ikuslea bada">{{bazkidezenbakia2}}</textarea>
            </div>
            <small class="form-text text-muted">2. IKUSLEA BADA : Bazkide txartela sarreran erakutsi behar da</small>
        </div>

        <div class="form-group">
            <label for="nanzenbakia2" class="col-sm-2 control-label">2. NAN zenbakia</label>
            <div class="col-sm-2">
                <textarea name="nanzenbakia2" rows="1" cols="12" class="form-control" 
                placeholder="2. ikuslea bada">{{nanzenbakia2}}</textarea>
            </div>
            <small class="form-text text-muted">Nortasun agiria sarreran erakutsi behar da</small>
        </div>

        <div class="form-group">
            <label for="izenabizenak2" class="col-sm-2 control-label">2. Izen-abizenak</label>
            <div class="col-sm-4">
                <textarea name="izenabizenak2" rows="1" cols="70" class="form-control" 
                 placeholder="2. ikuslea bada">{{izenabizenak2}}</textarea>
            </div>
        </div>