<div class="header">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="/kirolElkarteakeditatu">Elkarteak editatu</a></li>
          <li><a href="/partaideak"><b>Partaideak</b></a></li>
          <li><a href="/admin/bazkideak"><b>Bazkideak</b></a></li>
          <li><a href="/admin/taldeak">Taldeak</a></li>
          <li><a href="/admin/berriak">Berriak</a></li>
          <li><a href="/admin/partiduordutegiak/{{idDenboraldia}}/{{jardunaldia}}"><b>Partiduen ordutegia</b></a></li>
          <li><a href="/admin/denboraldiak">Denboraldiak</a></li>
          <li><a href="/admin/ekintzak">Ekintzak</a></li>
          <li><a href="/admin/partaidemotak">Partaide motak</a></li>
          <li><a href="/admin/ordaintzekoerak">Ordaintzeko erak</a></li>
          <li><a href="/admin/argazkiak">Argazkiak igo</a></li>
          <li><a href="/admin/partiduak">Partiduak</a></li>
          <li><a href="/admin/agiriak">Agiriak</a></li>
          <li><a href="">Kudeaketa</a></li>
          <li><a href="">Emaitzak sartu</a></li>
          <li><a href="/sailkapenak">Sailkapena ikusi</a></li>
          <li><a href="/admin/edukiak">Edukiak</a></li>
        </ul>
</div>