	{{> menu}}

      <div class="jumbotron">
        <h2>Arauak</h2>
      </div>

      <div class="row marketing">
        <div class="col-lg-11">
         <ul>
            <li type="square"> <strong>Zelaiaren neurriak: </strong></li>
            <p style="text-align: justify"" >27x12 metro, areak 6 metrotara kokatutako marra zuzenak. Ateak eskubaloi arruntean erabiltzen diren bezalakoak. </p>

            <li type="square"><strong>Jokalariak: </strong></li>
            <p style="text-align: justify"" >Talde bakoitzak 6-8 partaide izango ditu eta zelaian 3 jokalari eta atezaina arituko dira. Oinutsik jokatu beharko da. </p>

            <li type="square"><strong>Partiduen iraupena: </strong></li>
            <p style="text-align: justify"" >10 minutuko 2 zati eta 5bat minutuko atsedenaldia. Zati bakoitza epailearen sakearekin hasiko da. </p>

            <li type="square"><strong>Emaitzak:  </strong></li>
            <p style="text-align: justify"" >Zati bakoitzeko irabazleak puntu bat lortuko du eta zati batean berdinketa badago, "gol de oro" bidez erabakiko da puntu horren garailea. Bi zatien amaieran bana berdinduz gero, "shoot out" bidez erabakiko da neurketako garailea.</p>
              <ul>
                  <li type="disc" style="text-align: justify"><strong>Gol de oro: </strong>Epailearen sake bidez atera eta lehen gola sartzen duenak irabaziko du puntua.</li>
                  <li type="disc" style="text-align: justify"><strong>Shoot out: </strong>Talde bakoitzeko 5 jokalari izendatu, atezainak beraien ateetako marran jarri eta jokalariak area eta alboko lerroak gurutzatzen diren puntuan jarri baloiarekin. Epaileak txistu egitean honek atezainari pasako dio eta 3 segundu baino lehen jokalariari itzuli edo golera jaurti beharko du baloia. Paseak dauden bitartean, baloiak ezingo du lurra ukitu. Erasoan daudenek arau hauste bat eginez gero erasoaldia amaituko da, eta atezainak eginez gero, 6metroko jaurtiketaz zigortuko da. Defentsa lanea diharduen atezainak ezingo du bere areatik irten.
                  </li>
              </ul>

            <li type="square"><strong>Baloia jokatzeko modua: </strong></li>
            <p style="text-align: justify"" >Baloiaren gainera salto egin daiteke, baina honek ezingo du 3 segundu baina gehiago lurrean egon, eta baloia azken aldiz ukitu duen pertsonak ezin izango du berriz jaso aurkako falta batez zigortuko delarik. Baloia area barruan geldirik edo biraka badago ere, area kanpotik ukitu daiteke. </p>

            <li type="square"><strong>Puntuaketa: </strong></li>
            <p style="text-align: justify"" >Zelaiko edozein jokalarik gola sartuz gero, puntu bat igoko da markagailura. Zelaiko edozein jokalarik "fly" baten ondorioz sartutako golak 2 puntu balioko du. Atezainak sartuz gero, 2 puntu. Golaren ondoren atezainak area barrenetik jarriko du baloia jokoan. Talde bat 6 metrotako jaurtiketarekin zigortu bada, sartuz gero 2 puntu balioko ditu. </p>

            <li type="square"><strong>Zigorrak, faltak, 6 metrotako jaurtiketak: </strong></li>

            <p style="text-align: justify"" >Zigortuak izan diren jokalariak, baloi jabetza aldaketaren ondoren zelaira sartzeko aukera dute. Gehienez bi aldiz kanporatua izan daiteke jokalari bakoitza. Faltatan defentsek metro batetara edo 6 metrotako marrarekin lerroan jar daitezke. 6 metrotako jaurtiketa eskubaloi arrunteko penaltia bezala aplikatuko da. Atezainak eta gainontzeko jokalariek metro batetara egon behar dute gutxienez. Edozein sake burutzean, zuzenean gola lor daiteke, ateko saketik norberaren atean izan ezik. </p>

         </ul>

        </div>
      </div>

