
<h3>ADI : link-ean duzuen <b>ZZ.ZZ</b> partez <b>arbitraiako euroak</b> ipini behar da eta gero enter klikatu </h3>
<ul><h3>
<li style="color:red">ADI- <b>XX-YY</b> eta <b>ZZ.ZZ</b> helbidean: http://zarauzkoeskubaloia.herokuapp.com/emaitzabidali/32155051278/<b>XX-YY/ZZ.ZZ</b> </li> 
<li>Adibidez arbitraia 19,30 euro izan bada eta emaitza 22-20:</li>
<p><b>XX-YY</b>  partez  emaitza ipini behar da :    <b>22-20</b> </p>
<p><b>ZZ.ZZ</b>  partez  arbitaria ipini behar da, dezimalak puntu batekin :    <b>19.30</b> </p>
<p>dezimalak puntu batekin, komarekin ez : <b>19.30</b></p>
<li>Nabigatzailean, linkaren bukaera horrela gelditu behar du: <b>22-20/19.30</b>
 </br></br>
  <p style="color:blue"> http://zarauzkoeskubaloia.herokuapp.com/emaitzabidali/32155051278/<b>22-20/19.30</b></p> </li>
  </br>
<li>Hala dagoela  <enter> klikatu</li>
<li>Saiatu berriro, Mila esker!</h3></li>
</ul>

