

<h3>ADI : link-ean duzuen <b> XX-YY </b> partez emaitza ipini behar da eta gero enter klikatu </h3>
<ul><h3>
<li style="color:red">ADI- <b>XX-YY</b> helbidean: http://zarauzkoeskubaloia.herokuapp.com/emaitzabidali/32155051278/<b>XX-YY</b> </li> 
</br>
<li>Adibidez emaitza 19-17 izan bada: </li>
<p><b>XX-YY</b>  partez  emaitza ipini behar da :    <b>19-17</b> </p>
<li>Nabigatzailean, linkaren bukaera horrela gelditu behar du: <b>19-17</b>
 </br></br>
  <p style="color:blue"> http://zarauzkoeskubaloia.herokuapp.com/emaitzabidali/32155051278/<b>19-17</b></p> </li>
  </br> </li>
<li>Hala dagoela  <enter> klikatu</li>
<li>Saiatu berriro, Mila esker!</h3></li>
</ul>

