{{#if menuadmin}}
  {{> menuadmin}}
{{else}}
  {{> menu}}
{{/if}}

</br>

<h3>Eskerrik asko <b> {{izenabizenak1}} </b> zure izenean <b>itxaron zerrendan</b> izena-emateagatik!</h3>

<ul><h3>
	<li>1. Emaila : <b> {{emaila}} </b> egokia dela ziurtatu. Ez ba da egokia , <b> zkeskubaloia.partidak@gmail.com </b>bidez adierazi.</li>

	<li style="color:#FF0000">2. Aukerarik sortu ezkero, emaila baten bidez, adieraziko zaizue. Mila esker!</li></h3>
</ul>