
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

  <h1><span class="fa fa-sign-in"></span> Saioa hasi </h1>

  <!-- show any messages that come back with authentication -->
  <!--<% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
  <% } %>-->

  <!-- LOGIN FORM -->
  <form action="/login" method="post">
    <div class="form-group">
      <label>Emaila</label>
      <input type="email" class="form-control" required id="emailaard" autofocus placeholder="Sartu emaila" name="emailaard">
    </div>

    <div class="form-group">
      <label for="sPartaideak">Partaidearen izena</label>
      <select name="sPartaideak" id="sPartaideak">
        <option value=" ">-- Aukeratu bat --</option>
      </select>
    </div> 
  
    <div class="form-group">
      <label>Pasahitza</label>
      <input type="password" class="form-control" required id="pasahitza" placeholder="Sartu pasahitza" name="pasahitza">
    </div>

    <button type="submit" class="btn btn-warning btn-lg">Sartu</button>
  </form>

  <hr>

  <p>Pasahitza ahaztu al duzu?<a href="/forgot"> Pasahitza </a></p>
  <p>Izen-eman nahi? <a href="/izenematea">Izena-eman</a></p>
  <p>Edo hasierara <a href="/">Hasiera</a>.</p>

</div> 
</div>

{{#section 'jquery'}}
<script>
  $(document).ready(function(){        

    $('#emailaard').change(function(){

      var data = 'id=' + $('#emailaard').val();

      $.get('partaidemail/'+$('#emailaard').val(), function(resp) {
        var totTal = resp.length;
        sPartaideak.length = totTal;
        for (var i = 0; i < totTal; i++){
           sPartaideak.options[i] = new Option (resp[i].izenaPart, resp[i].idPartaideak);
         };
      });
    });
  });
            
</script> 
        
{{/section}}

