
<div class="jumbotron">

        <h1 class="xfLeft">Lege-oharra</h1>
        <div class="clear"></div>
        <div class="box_def">
                <div class="innerText">
                        <p>Webgune hau eta webgunean argitaratutakoak Zarauzko Kirol Elkarteko jabetzakoak dira, besterik adierazten ez bada. </p>
                </div>
        </div>
        
        <div class="box_def"> 
                <h2>Datu pertsonalen babesa</h2>
                <div class="innerText">
                        <p>
                        Datu Pertsonalak Babesteari buruzko abenduaren 13ko 15/1999 Lege Organikoan xedatzen dena betetzen du Zarauzko Kirol Elkarteak.</p>
                        <p>
                        Fitxategiaren erantzulea Zarauzko Kirol Elkartea bera da. Erabiltzaileak noizbait datu pertsonalak ematen baditu, datu horiek Zarauzko Kirol Elkarteko fitxategi automatizatu batean gordeko dira, datuen kudeaketa hobetzeko eta gure bezeroekin komunikazioa bideratzeko. Fitxategia Datuak Babesteko Agentzian erregistratuko dugu, eta datuen segurtasuna bermatzeko neurriak ezarriko ditugu.</p>
                        <p>
                        Datu horiek modu konfidentzialean tratatuko dira, eta ez zaizkie utziko Zarauzko Kirol Elkartea ez den hirugarrenei. Zarauzko Kirol Elkarteak hartu beharreko neurriak hartuko ditu datu horiek alda edo gal ez daitezen, bai eta baimenik gabeko inor datu basean sar dadin galarazteko ere.</p>
                        <p>
                        Erabiltzaileak baimena ematen dio Zarauzko Kirol Elkarteari bere datuak tratatzeko eta erabiltzeko, betiere zerbitzua hobetzeko eta datu pertsonalak babesteko araudia errespetatuz. Edonola ere, legean aurreikusitakoaren arabera, datuak eskuratzeko, zuzentzeko, ezabatzeko eta haiei aurka egiteko eskubidea balia dezake erabiltzaileak; horretarako, eskaera bat bidali behar du zke.eskubaloia@gmail.com helbidera.</p>
                </div>
        </div>
        
        <div class="box_def">
                <h2>Webgunea erabiltzeko baldintzak</h2>
                <div class="innerText">
                        <p>
                        Webgunearen bidez erabiltzaileak bere datuak eman behar baditu, erabiltzailea izango da informazio egiazkoa eta legezkoa ematearen arduraduna. Zarauzko Kirol Elkarteko informazioa jasotzeko erabiltzaile-izena eta pasahitza ematen bazaizkio, horiek arduraz erabili beharko ditu eta isilpean gorde, zerbitzu berezietarako dituen abantailez modu egokian baliatu ahal dadin.</p>
                        <p>
                        Oro har, webguneko edukiak arduraz, zuzen eta legeari jarraiki erabiltzeko betebeharra du erabiltzaileak, besteak beste, edukiak merkataritza-xedeetarako ez erabiltzeko, edukiak ez aldatzeko eta fede onaren aurkako jardueretan ez erabiltzeko.</p>
                </div>
        </div>
        <div class="box_def">
                <h2>Jabetza intelektual eta industriala</h2>
                <div class="innerText">
                        <p>
                        Zarauzko Kirol Elkarteko jabetzako edukia Creative Commons lizentziapean dago, “Antzitatespen – Ez Komertzial – Obra Eratorririk gabeko (by-nc-nd)” lizentzia.</p>
                        <p>
                        Aintzatespena (Attribution): Lizentziak baimendutako obraren edozein ustiapenetan jatorrizko egilea nor den aitzatetsi edo aitortu beharko da.</p>
                        <p>
                        Ez Komertziala (Non commercial): Obraren ustiapena erabilpen ez komertzialetara mugatua dago.</p>
                        <p>
                        Obra Eratorririk Gabe (No Derivate Works): Obra ustiatzeko baimenak ez dakar obra eratorri bat sortzeko eraldaketa eskubiderik.</p>
                </div>
        </div>
</div>



      
</div>