{{> menuadmin}}

<div class="jumbotron">
        <h2>Partaide motak</h2>
      </div>

     <div class="container">

<a href="/kirolElkarteakeditatu" class="btn btn-primary btn-sm" role="button">Elkartea editatu</a>
<a href="/admin/lekuak" class="btn btn-primary btn-sm" role="button">Zelaiak</a>
<a href="/admin/mailak" class="btn btn-primary btn-sm" role="button">Mailak</a>
<a href="/admin/denboraldiak" class="btn btn-primary btn-sm" role="button">Denboraldiak</a>
<a href="/admin/ekintzak" class="btn btn-primary btn-sm" role="button">Ekintzak</a>
<a href="/admin/ordaintzekoerak" class="btn btn-primary btn-sm" role="button">Ordaintzeko erak</a>

<br/>
<br/>

<div class="row marketing">

        <div class="col-lg-8">
          <div class="col-lg-2">
          <form class="form-horizontal newsletterForm" role="form" action="/admin/partaidemotakgehitu" method="POST">
        <input type="hidden" name="_csrf" value="{{_csrfToken}}">
          </div>
         <div class="form-group">
            <div class="col-sm-offset-3"> 
                <button type="submit" class="btn btn-default">Gehitu</button>
            </div>
        </div>
        </form> 
            <table class="table table-striped">
            <tr>
                    <th>Partaide motaren deskribapena</th>
                    <th></th>
                    <th></th>

                </tr>                               
            {{#each data}}
                  <tr>
                    <td>{{deskribapenMota}}</td>
                     <td>
                        <a class="a-inside edit" href="../admin/partaidemotakeditatu/{{idPartaideMotak}}">Aldatu</a>
                    </td>
                    <td>
                        <a class="a-inside delete" href="../admin/partaidemotakezabatu/{{idPartaideMotak}}">Ezabatu</a> 
                    </td>
                    
                </tr>
            {{/each}}
          </table>
        </div>

        
      </div>
      
</div>