{{> menu}}

</br>
</br>

<h3>Eskerrik asko {{partaideizena}} <b> {{elkarteizena}} </b> elkartean partaide izateagatik!</h3>
<ul><h3>
<li>Jarraian email bat jasoko duzu <b> {{emailPart}} </b> helbidean. </li>
<li>Bertako linkean klikatu (partaidetza balidatzeko) eta zure datuekin saioa hasteko aukera izango duzu. </li>
<li>Mila esker!</h3></li>
</ul>