{{> menuadmin}}
 <div class="jumbotron">
        <h2>Talde kopuruak</h2>
 </div>
      <a href="/admin/taldeak" class="btn btn-primary btn-sm" role="button">Taldeak ikusi</a>
      <a href="/admin/jokalarikopurua" class="btn btn-primary btn-sm" role="button">Jokalari kopurua ikusi</a>      
      </br></br></br>
      
      <div class="row marketing">
        <div class="col-lg-5 col-sm-offset-1">
        <table class="table table-striped">
                <tr>
                    <th>Kategoria</th>
                    <th>Talde kopurua</th>
                    <th>Jokalari kopurua</th>
                </tr> 
                {{#each taldeak}}
                   <tr>
                    <td>{{izenaMaila}}</td> 
                    <td align="center">{{taldeakguztira}}</td>  
                    <td align="center">{{jokalariakguztira}}</td>               
                   </tr>                           
                {{/each}}  
                <tr>
                    <td><b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;GUZTIRA</b></td> 
                    <td align="center"><b>{{taldetotala}}</b></td>                
                   </tr>               
          </table>
        </div>
        
      </div>