<div class="container">

<div class="col-sm-6 col-sm-offset-3">

  <h1><span class="fa fa-sign-in"></span> Ongi etorri! </h1>
  <h4> <b> Aukeratu ezazu txapelketa bat, informazioa ikusi ahal izateko. </b></h4>

  </br>
  <!-- LOGIN FORM -->
  <form action="/txapelketakaukeratu" method="post">

    <div class="form-group">
      <label for="sTxapelketak">Txapelketak</label>
      <select name="sTxapelketak" id="sTxapelketak"></select>
    </div>

    <button type="submit" class="btn btn-warning btn-lg">Joan</button>
  </form>

</div>

</div>

<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript">
var io = io.connect("/");
var sTxapelketak= document.getElementById('sTxapelketak');

io.on("txapelketak", function(data) {
  var totTal = data.length;
  sTxapelketak.length = totTal;

  for (var i = 0; i< totTal; i++){
    sTxapelketak.options[i] = new Option (data[i].txapelketaizena, data[i].idtxapelketa)
  };
})
</script>
